@{
    ViewBag.Title = "Home Page";
}

<h2>About</h2>

<div class="panel" style="min-height:600px">
    <p>
        Written by Robert J Symes and licenced under the Apache Licence (version 2).  You may freely copy, modify
        and redistribute this work as you wish.  A copy of the licence can be found <a target="_blank" href="http://www.apache.org/licenses/LICENSE-2.0">here</a>.
    </p>
    <p>
        The project's source code is hosted on GitHub at: <a target="_blank" href="http://github.com/robsymes/finproj">github.com/robsymes/finproj</a>.
    </p>
    <p>
        The system is written using ASP.NET MVC / C# / Entity Framework and hosted on Windows Azure.
    </p>

</div>
