@{
    ViewBag.Title = "Home Page";
}

<h2>About</h2>

<div class="panel" style="min-height:600px">
    <p>
        About the Financial Projector.
    </p>
    <p>
        Need to decide whether we are going to bother with the multi-scenario approach.
        Might be better not to actually and instead, allow assets (or other "tracks") to be "muted" (a-la Fl Studio).
    </p>
    <p>
        This is where we can think through things (for now) basically.
    </p>
    <p>
        Perhaps the way it works is that we have a demo, which is basically "allocated" to that
        user (perhaps based on ip address or something), which they can play around with.
        To start with, this can just be a public one basically, assigned to a fixed user.
        
        Then when they want to, they can register and start using their own one which is persistent.
        Later, we can allow signing in with facebook, google etc accounts.

        It will be free to use, and if it becomes popular, perhaps we could sell advertising on it.
    </p>
    <p>
        So, let's not bother with multiple scenarios (though we will separate things by user), and instead
        each Asset could have an "Enabled" boolean flag so it can be "switched" on/off.
    </p>
    <p>
        I think perhaps we should manage the "payment schedule" of the assets on the asset details page,
        if that's possible.  It could display a list of 'Asset Payments'/'Payments' within the asset details
        view, and when these are individually viewed/edited/deleted, that would be on a separate screen.
    </p>

    <h1>This is H1.</h1>
    <h2>This is H2.</h2>
    <h3>This is H3.</h3>
    <h4>This is H4.</h4>
    <h5>This is H5.</h5>
    <h6>This is H6.</h6>
</div>
