@{
    ViewBag.Title = "Index";
}

<table class="projection">
    <tr>
        <th></th>
        <th>Apr 2010</th>
        <th>Apr 2011</th>
        <th>Apr 2012</th>
        <th>Apr 2013</th>
        <th>Apr 2014</th>
        <th>Apr 2015</th>
        <th>Apr 2016</th>
        <th>Apr 2017</th>
        <th>Apr 2018</th>
        <th>Apr 2019</th>
    </tr>
    <tr>
        <th>Ruth House</th>
        <td>5640.00</td>
        <td>5640.00</td>
        <td>5640.00</td>
        <td>5640.00</td>
        <td>5640.00</td>
        <td>5640.00</td>
        <td>5640.00</td>
        <td>5640.00</td>
        <td>5640.00</td>
        <td>5640.00</td>
    </tr>
    <tr>
        <th>Skyline Plaza</th>
        <td>4800.00</td>
        <td>4800.00</td>
        <td>4800.00</td>
        <td>9600.00</td>
        <td>9600.00</td>
        <td>9600.00</td>
        <td>9600.00</td>
        <td>9600.00</td>
        <td>9600.00</td>
        <td>9600.00</td>
    </tr>
</table>
