<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <SiteUrlToLaunchAfterPublish>http://finproj.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <MSDeployServiceURL>waws-prod-db3-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>finproj</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$finproj</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:voe82icfxc.database.windows.net,1433;Initial Catalog=finprojdb;Integrated Security=False;User ID=cdf-db@voe82icfxc;Password=rip24JWS;Connect Timeout=30;Encrypt=True" Name="Server=tcp:voe82icfxc.database.windows.net,1433;Database=finprojdb;User ID=cdf-db@voe82icfxc;Password=rip24JWS;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FinProjMvc.Models.UsersContext, FinProjMvc" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="FinProjMvcContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:voe82icfxc.database.windows.net,1433;Initial Catalog=finprojdb;Integrated Security=False;User ID=cdf-db@voe82icfxc;Password=rip24JWS;Connect Timeout=30;Encrypt=True" Name="Server=tcp:voe82icfxc.database.windows.net,1433;Database=finprojdb;User ID=cdf-db@voe82icfxc;Password=rip24JWS;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FinProjMvc.Models.FinProjMvcContext, FinProjMvc" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:voe82icfxc.database.windows.net,1433;Database=finprojdb;User ID=cdf-db@voe82icfxc;Password=rip24JWS;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FinProjMvcContext-Web.config Connection String">
      <ParameterValue>Server=tcp:voe82icfxc.database.windows.net,1433;Database=finprojdb;User ID=cdf-db@voe82icfxc;Password=rip24JWS;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>