@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome</h2>

<div class="panel" style="min-height:600px">
    <p>
        Welcome to the Financial Projector.
    </p>
    <p>
        The financial projector allows the effects of various
        financial decisions to be "projected" over time.  Everything that contributes to ones
        monthly cashflow can be entered into the system - things from which we receive money
        such as a job, income from property or other assets, and things which cost us money,
        such as rent, bills or general spending. Then either a year at a time or a full decade
        at a time can be viewed, and the system calculates the monthly "cashflow" - how much
        extra money, we have (or how much less money we have) and also a running total of
        how much actual cash we should have.
    </p>
    <p>
        Try out the <a href="/Projection">demo</a> first, then you can register for a free account to keep track of
        your data.
    </p>
</div>

@*

The financial projector is an ASP.NET MVC application which allows the effects of various financial decisions
 to be "projected" over time.  Everything that contributes to ones monthly cashflow can be entered into the
 system - things from which we receive money such as a Job, income from property or other assets, and things
 which cost us money, such as rent, bills or general spending. Then either a year at a time or a full decade
 at a time can be viewed, and the system calculates the monthly "cashflow" - how much extra money, we have
 (or how much less money we have), and also a running total of how much actual cash we should have.

The system is up and running at www.financialprojector.com.  The user is encouraged to try out the demo first,
then register for a free account in order to keep track of their own data.


*@