@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome</h2>

<div class="panel" style="min-height:600px">
    <p>
        Welcome to the Financial Projector.
    </p>
    <p>
        The Financial Projector allows the effects of various financial decisions to be simulated.
    </p>
</div>
